name: Docker run

on: [push]

jobs:
  docker_job:
    runs-on: ubuntu-latest
    name: docker job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: ENV clone
        run: |
         echo "Creating .env file..."
         touch .env
         touch id_rsa
         echo GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} >> .env
         echo '${{ secrets.ID_RSA }}' >> id_rsa
      - name: Docker
        uses: ./
