name: Docker run sub 5

on:
  # push:
  schedule:
    - cron: "*/60 * * * *"
  workflow_dispatch:
jobs:
  docker_job:
    runs-on: ubuntu-latest
    name: docker job
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: ENV clone
        run: |
         echo "Creating .env file..."
         touch .env
         touch id_rsa
         echo GITHUB_TOKEN=${{ secrets.GITHUB_TOKEN }} >> .env
         echo MONGODB_CREDENTIAL=${{ secrets.MONGODB_CREDENTIAL }} >> .env
         echo '${{ secrets.ID_RSA }}' >> id_rsa
         echo '${{ secrets.ID_RSA_PUB }}' >> authorized_keys
      - name: Docker
        uses: ./
